{{#each reviews}}
{{!-- <div class="userImage"> --}}
{{!-- <img src="image"> --}}
  {{!-- </div> --}}
  {{!-- remember to change description to review --}}
<div class="review">
  {{review}}
</div>
{{/each}}
<br>

<form action="/groups/{{:group_id}}/reviews" method="POST"></form>
